<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- zlbz_temporary[zlbz_temporary]SQLMapper自动映射 -->
<!--  注意:此文件由AOS平台自动生成-禁止手工修改 2020-09-15 17:03:36 -->
<mapper namespace="cn.osworks.aos.system.dao.mapper.Zlbz_temporaryMapper">
	
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert"  parameterType="Zlbz_temporaryPO">
		INSERT INTO zlbz_temporary (
		<if test="zhy != null and zhy != ''">
	         zhy, <!-- zhy -->
		</if>
		<if test="zlbh != null and zlbh != ''">
	         zlbh, <!-- zlbh -->
		</if>
		<if test="dalx != null and dalx != ''">
	         dalx, <!-- dalx -->
		</if>
		<if test="zlsj != null and zlsj != ''">
	         zlsj, <!-- zlsj -->
		</if>
		<if test="ztxt != null and ztxt != ''">
	         ztxt, <!-- ztxt -->
		</if>
		<if test="mj != null and mj != ''">
	         mj, <!-- mj -->
		</if>
		<if test="zz != null and zz != ''">
	         zz, <!-- zz -->
		</if>
		<if test="wz != null and wz != ''">
	         wz, <!-- wz -->
		</if>
		<if test="flh != null and flh != ''">
	         flh, <!-- flh -->
		</if>
		<if test="ys != null and ys != ''">
	         ys, <!-- ys -->
		</if>
		<if test="xq != null and xq != ''">
	         xq, <!-- xq -->
		</if>
		<if test="zlml != null and zlml != ''">
	         zlml, <!-- zlml -->
		</if>
		<if test="cbs != null and cbs != ''">
	         cbs, <!-- cbs -->
		</if>
		<if test="_daoqi != null and _daoqi != ''">
	         _daoqi, <!-- _daoqi -->
		</if>
		<if test="hjsj != null and hjsj != ''">
	         hjsj, <!-- hjsj -->
		</if>
		<if test="hjr != null and hjr != ''">
	         hjr, <!-- hjr -->
		</if>
		<if test="_kaifang != null and _kaifang != ''">
	         _kaifang, <!-- _kaifang -->
		</if>
		<if test="_xh != null and _xh != ''">
	         _xh, <!-- _xh -->
		</if>
		<if test="ssrl != null">
	         ssrl, <!-- ssrl -->
		</if>
		<if test="ysys != null">
	         ysys, <!-- ysys -->
		</if>
		<if test="tm != null and tm != ''">
	         tm, <!-- tm -->
		</if>
		<if test="ztlx != null and ztlx != ''">
	         ztlx, <!-- ztlx -->
		</if>
		<if test="bgqx != null and bgqx != ''">
	         bgqx, <!-- bgqx -->
		</if>
		<if test="dangdm != null and dangdm != ''">
	         dangdm, <!-- dangdm -->
		</if>
		<if test="fs != null and fs != ''">
	         fs, <!-- fs -->
		</if>
		<if test="fz != null and fz != ''">
	         fz, <!-- fz -->
		</if>
		<if test="jsh != null and jsh != ''">
	         jsh, <!-- jsh -->
		</if>
		<if test="mlh != null and mlh != ''">
	         mlh, <!-- mlh -->
		</if>
		<if test="ndqh != null and ndqh != ''">
	         ndqh, <!-- ndqh -->
		</if>
		<if test="rm != null and rm != ''">
	         rm, <!-- rm -->
		</if>
		<if test="xcsj != null and xcsj != ''">
	         xcsj, <!-- xcsj -->
		</if>
		<if test="ly != null and ly != ''">
	         ly, <!-- ly -->
		</if>
		<if test="bz != null and bz != ''">
	         bz, <!-- bz -->
		</if>
		<if test="mldm != null and mldm != ''">
	         mldm, <!-- mldm -->
		</if>
		<if test="sxh != null and sxh != ''">
	         sxh, <!-- sxh -->
		</if>
		<if test="dzhfs != null and dzhfs != ''">
	         dzhfs, <!-- dzhfs -->
		</if>
		<if test="kfbz != null and kfbz != ''">
	         kfbz, <!-- kfbz -->
		</if>
		<if test="hh != null and hh != ''">
	         hh, <!-- hh -->
		</if>
		<if test="fj != null and fj != ''">
	         fj, <!-- fj -->
		</if>
		<if test="damldm != null and damldm != ''">
	         damldm, <!-- damldm -->
		</if>
		<if test="flag != null and flag != ''">
	         flag, <!-- flag -->
		</if>
		<if test="cz_bh != null and cz_bh != ''">
	         cz_bh, <!-- cz_bh -->
		</if>
		<if test="_lrr != null and _lrr != ''">
	         _lrr, <!-- _lrr -->
		</if>
		<if test="_lrrq != null and _lrrq != ''">
	         _lrrq, <!-- _lrrq -->
		</if>
		<if test="_classtree != null and _classtree != ''">
	         _classtree, <!-- _classtree -->
		</if>
		<if test="_jy != null and _jy != ''">
	         _jy, <!-- _jy -->
		</if>
		<if test="_jd != null and _jd != ''">
	         _jd, <!-- _jd -->
		</if>
		<if test="_path != null">
	         _path, <!-- _path -->
		</if>
		<if test="pch != null and pch != ''">
	         pch, <!-- pch -->
		</if>
		<if test="lx != null and lx != ''">
	         lx, <!-- lx -->
		</if>
		<if test="sxjczt != null and sxjczt != ''">
	         sxjczt, <!-- sxjczt -->
		</if>
		<if test="sxjcjg != null and sxjcjg != ''">
	         sxjcjg, <!-- sxjcjg -->
		</if>
		<if test="_piccount != null">
	         _piccount, <!-- _piccount -->
		</if>
		<if test="id_ != null and id_ != ''">
	          id_  <!-- id_ -->
	   </if>
		)VALUES(
		<if test="zhy != null and zhy != ''">
	          #{zhy, jdbcType=VARCHAR}, <!-- zhy -->
	    </if>
		<if test="zlbh != null and zlbh != ''">
	          #{zlbh, jdbcType=VARCHAR}, <!-- zlbh -->
	    </if>
		<if test="dalx != null and dalx != ''">
	          #{dalx, jdbcType=VARCHAR}, <!-- dalx -->
	    </if>
		<if test="zlsj != null and zlsj != ''">
	          #{zlsj, jdbcType=VARCHAR}, <!-- zlsj -->
	    </if>
		<if test="ztxt != null and ztxt != ''">
	          #{ztxt, jdbcType=VARCHAR}, <!-- ztxt -->
	    </if>
		<if test="mj != null and mj != ''">
	          #{mj, jdbcType=VARCHAR}, <!-- mj -->
	    </if>
		<if test="zz != null and zz != ''">
	          #{zz, jdbcType=VARCHAR}, <!-- zz -->
	    </if>
		<if test="wz != null and wz != ''">
	          #{wz, jdbcType=VARCHAR}, <!-- wz -->
	    </if>
		<if test="flh != null and flh != ''">
	          #{flh, jdbcType=VARCHAR}, <!-- flh -->
	    </if>
		<if test="ys != null and ys != ''">
	          #{ys, jdbcType=VARCHAR}, <!-- ys -->
	    </if>
		<if test="xq != null and xq != ''">
	          #{xq, jdbcType=VARCHAR}, <!-- xq -->
	    </if>
		<if test="zlml != null and zlml != ''">
	          #{zlml, jdbcType=VARCHAR}, <!-- zlml -->
	    </if>
		<if test="cbs != null and cbs != ''">
	          #{cbs, jdbcType=VARCHAR}, <!-- cbs -->
	    </if>
		<if test="_daoqi != null and _daoqi != ''">
	          #{_daoqi, jdbcType=VARCHAR}, <!-- _daoqi -->
	    </if>
		<if test="hjsj != null and hjsj != ''">
	          #{hjsj, jdbcType=VARCHAR}, <!-- hjsj -->
	    </if>
		<if test="hjr != null and hjr != ''">
	          #{hjr, jdbcType=VARCHAR}, <!-- hjr -->
	    </if>
		<if test="_kaifang != null and _kaifang != ''">
	          #{_kaifang, jdbcType=VARCHAR}, <!-- _kaifang -->
	    </if>
		<if test="_xh != null and _xh != ''">
	          #{_xh, jdbcType=VARCHAR}, <!-- _xh -->
	    </if>
		<if test="ssrl != null">
	          #{ssrl, jdbcType=INTEGER}, <!-- ssrl -->
	    </if>
		<if test="ysys != null">
	          #{ysys, jdbcType=INTEGER}, <!-- ysys -->
	    </if>
		<if test="tm != null and tm != ''">
	          #{tm, jdbcType=VARCHAR}, <!-- tm -->
	    </if>
		<if test="ztlx != null and ztlx != ''">
	          #{ztlx, jdbcType=VARCHAR}, <!-- ztlx -->
	    </if>
		<if test="bgqx != null and bgqx != ''">
	          #{bgqx, jdbcType=VARCHAR}, <!-- bgqx -->
	    </if>
		<if test="dangdm != null and dangdm != ''">
	          #{dangdm, jdbcType=VARCHAR}, <!-- dangdm -->
	    </if>
		<if test="fs != null and fs != ''">
	          #{fs, jdbcType=VARCHAR}, <!-- fs -->
	    </if>
		<if test="fz != null and fz != ''">
	          #{fz, jdbcType=VARCHAR}, <!-- fz -->
	    </if>
		<if test="jsh != null and jsh != ''">
	          #{jsh, jdbcType=VARCHAR}, <!-- jsh -->
	    </if>
		<if test="mlh != null and mlh != ''">
	          #{mlh, jdbcType=VARCHAR}, <!-- mlh -->
	    </if>
		<if test="ndqh != null and ndqh != ''">
	          #{ndqh, jdbcType=VARCHAR}, <!-- ndqh -->
	    </if>
		<if test="rm != null and rm != ''">
	          #{rm, jdbcType=VARCHAR}, <!-- rm -->
	    </if>
		<if test="xcsj != null and xcsj != ''">
	          #{xcsj, jdbcType=VARCHAR}, <!-- xcsj -->
	    </if>
		<if test="ly != null and ly != ''">
	          #{ly, jdbcType=VARCHAR}, <!-- ly -->
	    </if>
		<if test="bz != null and bz != ''">
	          #{bz, jdbcType=VARCHAR}, <!-- bz -->
	    </if>
		<if test="mldm != null and mldm != ''">
	          #{mldm, jdbcType=VARCHAR}, <!-- mldm -->
	    </if>
		<if test="sxh != null and sxh != ''">
	          #{sxh, jdbcType=VARCHAR}, <!-- sxh -->
	    </if>
		<if test="dzhfs != null and dzhfs != ''">
	          #{dzhfs, jdbcType=VARCHAR}, <!-- dzhfs -->
	    </if>
		<if test="kfbz != null and kfbz != ''">
	          #{kfbz, jdbcType=VARCHAR}, <!-- kfbz -->
	    </if>
		<if test="hh != null and hh != ''">
	          #{hh, jdbcType=VARCHAR}, <!-- hh -->
	    </if>
		<if test="fj != null and fj != ''">
	          #{fj, jdbcType=VARCHAR}, <!-- fj -->
	    </if>
		<if test="damldm != null and damldm != ''">
	          #{damldm, jdbcType=VARCHAR}, <!-- damldm -->
	    </if>
		<if test="flag != null and flag != ''">
	          #{flag, jdbcType=VARCHAR}, <!-- flag -->
	    </if>
		<if test="cz_bh != null and cz_bh != ''">
	          #{cz_bh, jdbcType=VARCHAR}, <!-- cz_bh -->
	    </if>
		<if test="_lrr != null and _lrr != ''">
	          #{_lrr, jdbcType=VARCHAR}, <!-- _lrr -->
	    </if>
		<if test="_lrrq != null and _lrrq != ''">
	          #{_lrrq, jdbcType=VARCHAR}, <!-- _lrrq -->
	    </if>
		<if test="_classtree != null and _classtree != ''">
	          #{_classtree, jdbcType=VARCHAR}, <!-- _classtree -->
	    </if>
		<if test="_jy != null and _jy != ''">
	          #{_jy, jdbcType=VARCHAR}, <!-- _jy -->
	    </if>
		<if test="_jd != null and _jd != ''">
	          #{_jd, jdbcType=VARCHAR}, <!-- _jd -->
	    </if>
		<if test="_path != null">
	          #{_path, jdbcType=INTEGER}, <!-- _path -->
	    </if>
		<if test="pch != null and pch != ''">
	          #{pch, jdbcType=VARCHAR}, <!-- pch -->
	    </if>
		<if test="lx != null and lx != ''">
	          #{lx, jdbcType=VARCHAR}, <!-- lx -->
	    </if>
		<if test="sxjczt != null and sxjczt != ''">
	          #{sxjczt, jdbcType=VARCHAR}, <!-- sxjczt -->
	    </if>
		<if test="sxjcjg != null and sxjcjg != ''">
	          #{sxjcjg, jdbcType=VARCHAR}, <!-- sxjcjg -->
	    </if>
		<if test="_piccount != null">
	          #{_piccount, jdbcType=INTEGER}, <!-- _piccount -->
	    </if>
		<if test="id_ != null and id_ != ''">
		     #{id_, jdbcType=VARCHAR}  <!-- id_ -->
	    </if>
		)
	</insert>
	
	<!-- 插入一个数据持久化对象(含所有字段) -->
	<insert id="insertAll"  parameterType="Zlbz_temporaryPO">
		INSERT INTO zlbz_temporary (
		    <include refid="column" />
		)
		VALUES (
		    #{id_, jdbcType=VARCHAR},  <!-- id_ -->
		    #{zhy, jdbcType=VARCHAR},  <!-- zhy -->
		    #{zlbh, jdbcType=VARCHAR},  <!-- zlbh -->
		    #{dalx, jdbcType=VARCHAR},  <!-- dalx -->
		    #{zlsj, jdbcType=VARCHAR},  <!-- zlsj -->
		    #{ztxt, jdbcType=VARCHAR},  <!-- ztxt -->
		    #{mj, jdbcType=VARCHAR},  <!-- mj -->
		    #{zz, jdbcType=VARCHAR},  <!-- zz -->
		    #{wz, jdbcType=VARCHAR},  <!-- wz -->
		    #{flh, jdbcType=VARCHAR},  <!-- flh -->
		    #{ys, jdbcType=VARCHAR},  <!-- ys -->
		    #{xq, jdbcType=VARCHAR},  <!-- xq -->
		    #{zlml, jdbcType=VARCHAR},  <!-- zlml -->
		    #{cbs, jdbcType=VARCHAR},  <!-- cbs -->
		    #{_daoqi, jdbcType=VARCHAR},  <!-- _daoqi -->
		    #{hjsj, jdbcType=VARCHAR},  <!-- hjsj -->
		    #{hjr, jdbcType=VARCHAR},  <!-- hjr -->
		    #{_kaifang, jdbcType=VARCHAR},  <!-- _kaifang -->
		    #{_xh, jdbcType=VARCHAR},  <!-- _xh -->
		    #{ssrl, jdbcType=INTEGER},  <!-- ssrl -->
		    #{ysys, jdbcType=INTEGER},  <!-- ysys -->
		    #{tm, jdbcType=VARCHAR},  <!-- tm -->
		    #{ztlx, jdbcType=VARCHAR},  <!-- ztlx -->
		    #{bgqx, jdbcType=VARCHAR},  <!-- bgqx -->
		    #{dangdm, jdbcType=VARCHAR},  <!-- dangdm -->
		    #{fs, jdbcType=VARCHAR},  <!-- fs -->
		    #{fz, jdbcType=VARCHAR},  <!-- fz -->
		    #{jsh, jdbcType=VARCHAR},  <!-- jsh -->
		    #{mlh, jdbcType=VARCHAR},  <!-- mlh -->
		    #{ndqh, jdbcType=VARCHAR},  <!-- ndqh -->
		    #{rm, jdbcType=VARCHAR},  <!-- rm -->
		    #{xcsj, jdbcType=VARCHAR},  <!-- xcsj -->
		    #{ly, jdbcType=VARCHAR},  <!-- ly -->
		    #{bz, jdbcType=VARCHAR},  <!-- bz -->
		    #{mldm, jdbcType=VARCHAR},  <!-- mldm -->
		    #{sxh, jdbcType=VARCHAR},  <!-- sxh -->
		    #{dzhfs, jdbcType=VARCHAR},  <!-- dzhfs -->
		    #{kfbz, jdbcType=VARCHAR},  <!-- kfbz -->
		    #{hh, jdbcType=VARCHAR},  <!-- hh -->
		    #{fj, jdbcType=VARCHAR},  <!-- fj -->
		    #{damldm, jdbcType=VARCHAR},  <!-- damldm -->
		    #{flag, jdbcType=VARCHAR},  <!-- flag -->
		    #{cz_bh, jdbcType=VARCHAR},  <!-- cz_bh -->
		    #{_lrr, jdbcType=VARCHAR},  <!-- _lrr -->
		    #{_lrrq, jdbcType=VARCHAR},  <!-- _lrrq -->
		    #{_classtree, jdbcType=VARCHAR},  <!-- _classtree -->
		    #{_jy, jdbcType=VARCHAR},  <!-- _jy -->
		    #{_jd, jdbcType=VARCHAR},  <!-- _jd -->
		    #{_path, jdbcType=INTEGER},  <!-- _path -->
		    #{pch, jdbcType=VARCHAR},  <!-- pch -->
		    #{lx, jdbcType=VARCHAR},  <!-- lx -->
		    #{sxjczt, jdbcType=VARCHAR},  <!-- sxjczt -->
		    #{sxjcjg, jdbcType=VARCHAR},  <!-- sxjcjg -->
		    #{_piccount, jdbcType=INTEGER}  <!-- _piccount -->
		)
	</insert>

	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="Zlbz_temporaryPO">
		UPDATE zlbz_temporary
		<set>
			<if test="id_ != null">
		          id_ = #{id_, jdbcType=VARCHAR},  <!-- id_ -->
			</if>
			<if test="zhy != null">
		          zhy = #{zhy, jdbcType=VARCHAR},  <!-- zhy -->
			</if>
			<if test="zlbh != null">
		          zlbh = #{zlbh, jdbcType=VARCHAR},  <!-- zlbh -->
			</if>
			<if test="dalx != null">
		          dalx = #{dalx, jdbcType=VARCHAR},  <!-- dalx -->
			</if>
			<if test="zlsj != null">
		          zlsj = #{zlsj, jdbcType=VARCHAR},  <!-- zlsj -->
			</if>
			<if test="ztxt != null">
		          ztxt = #{ztxt, jdbcType=VARCHAR},  <!-- ztxt -->
			</if>
			<if test="mj != null">
		          mj = #{mj, jdbcType=VARCHAR},  <!-- mj -->
			</if>
			<if test="zz != null">
		          zz = #{zz, jdbcType=VARCHAR},  <!-- zz -->
			</if>
			<if test="wz != null">
		          wz = #{wz, jdbcType=VARCHAR},  <!-- wz -->
			</if>
			<if test="flh != null">
		          flh = #{flh, jdbcType=VARCHAR},  <!-- flh -->
			</if>
			<if test="ys != null">
		          ys = #{ys, jdbcType=VARCHAR},  <!-- ys -->
			</if>
			<if test="xq != null">
		          xq = #{xq, jdbcType=VARCHAR},  <!-- xq -->
			</if>
			<if test="zlml != null">
		          zlml = #{zlml, jdbcType=VARCHAR},  <!-- zlml -->
			</if>
			<if test="cbs != null">
		          cbs = #{cbs, jdbcType=VARCHAR},  <!-- cbs -->
			</if>
			<if test="_daoqi != null">
		          _daoqi = #{_daoqi, jdbcType=VARCHAR},  <!-- _daoqi -->
			</if>
			<if test="hjsj != null">
		          hjsj = #{hjsj, jdbcType=VARCHAR},  <!-- hjsj -->
			</if>
			<if test="hjr != null">
		          hjr = #{hjr, jdbcType=VARCHAR},  <!-- hjr -->
			</if>
			<if test="_kaifang != null">
		          _kaifang = #{_kaifang, jdbcType=VARCHAR},  <!-- _kaifang -->
			</if>
			<if test="_xh != null">
		          _xh = #{_xh, jdbcType=VARCHAR},  <!-- _xh -->
			</if>
			<if test="ssrl != null">
		          ssrl = #{ssrl, jdbcType=INTEGER},  <!-- ssrl -->
			</if>
			<if test="ysys != null">
		          ysys = #{ysys, jdbcType=INTEGER},  <!-- ysys -->
			</if>
			<if test="tm != null">
		          tm = #{tm, jdbcType=VARCHAR},  <!-- tm -->
			</if>
			<if test="ztlx != null">
		          ztlx = #{ztlx, jdbcType=VARCHAR},  <!-- ztlx -->
			</if>
			<if test="bgqx != null">
		          bgqx = #{bgqx, jdbcType=VARCHAR},  <!-- bgqx -->
			</if>
			<if test="dangdm != null">
		          dangdm = #{dangdm, jdbcType=VARCHAR},  <!-- dangdm -->
			</if>
			<if test="fs != null">
		          fs = #{fs, jdbcType=VARCHAR},  <!-- fs -->
			</if>
			<if test="fz != null">
		          fz = #{fz, jdbcType=VARCHAR},  <!-- fz -->
			</if>
			<if test="jsh != null">
		          jsh = #{jsh, jdbcType=VARCHAR},  <!-- jsh -->
			</if>
			<if test="mlh != null">
		          mlh = #{mlh, jdbcType=VARCHAR},  <!-- mlh -->
			</if>
			<if test="ndqh != null">
		          ndqh = #{ndqh, jdbcType=VARCHAR},  <!-- ndqh -->
			</if>
			<if test="rm != null">
		          rm = #{rm, jdbcType=VARCHAR},  <!-- rm -->
			</if>
			<if test="xcsj != null">
		          xcsj = #{xcsj, jdbcType=VARCHAR},  <!-- xcsj -->
			</if>
			<if test="ly != null">
		          ly = #{ly, jdbcType=VARCHAR},  <!-- ly -->
			</if>
			<if test="bz != null">
		          bz = #{bz, jdbcType=VARCHAR},  <!-- bz -->
			</if>
			<if test="mldm != null">
		          mldm = #{mldm, jdbcType=VARCHAR},  <!-- mldm -->
			</if>
			<if test="sxh != null">
		          sxh = #{sxh, jdbcType=VARCHAR},  <!-- sxh -->
			</if>
			<if test="dzhfs != null">
		          dzhfs = #{dzhfs, jdbcType=VARCHAR},  <!-- dzhfs -->
			</if>
			<if test="kfbz != null">
		          kfbz = #{kfbz, jdbcType=VARCHAR},  <!-- kfbz -->
			</if>
			<if test="hh != null">
		          hh = #{hh, jdbcType=VARCHAR},  <!-- hh -->
			</if>
			<if test="fj != null">
		          fj = #{fj, jdbcType=VARCHAR},  <!-- fj -->
			</if>
			<if test="damldm != null">
		          damldm = #{damldm, jdbcType=VARCHAR},  <!-- damldm -->
			</if>
			<if test="flag != null">
		          flag = #{flag, jdbcType=VARCHAR},  <!-- flag -->
			</if>
			<if test="cz_bh != null">
		          cz_bh = #{cz_bh, jdbcType=VARCHAR},  <!-- cz_bh -->
			</if>
			<if test="_lrr != null">
		          _lrr = #{_lrr, jdbcType=VARCHAR},  <!-- _lrr -->
			</if>
			<if test="_lrrq != null">
		          _lrrq = #{_lrrq, jdbcType=VARCHAR},  <!-- _lrrq -->
			</if>
			<if test="_classtree != null">
		          _classtree = #{_classtree, jdbcType=VARCHAR},  <!-- _classtree -->
			</if>
			<if test="_jy != null">
		          _jy = #{_jy, jdbcType=VARCHAR},  <!-- _jy -->
			</if>
			<if test="_jd != null">
		          _jd = #{_jd, jdbcType=VARCHAR},  <!-- _jd -->
			</if>
			<if test="_path != null">
		          _path = #{_path, jdbcType=INTEGER},  <!-- _path -->
			</if>
			<if test="pch != null">
		          pch = #{pch, jdbcType=VARCHAR},  <!-- pch -->
			</if>
			<if test="lx != null">
		          lx = #{lx, jdbcType=VARCHAR},  <!-- lx -->
			</if>
			<if test="sxjczt != null">
		          sxjczt = #{sxjczt, jdbcType=VARCHAR},  <!-- sxjczt -->
			</if>
			<if test="sxjcjg != null">
		          sxjcjg = #{sxjcjg, jdbcType=VARCHAR},  <!-- sxjcjg -->
			</if>
			<if test="_piccount != null">
		          _piccount = #{_piccount, jdbcType=INTEGER},  <!-- _piccount -->
			</if>
		</set>
		WHERE  id_ = #{id_}
	</update>
	
	<!-- 根据主键删除数据持久化对象 -->
	<delete id="deleteByKey">
		DELETE FROM zlbz_temporary WHERE  id_ = #{id_}
	</delete>

	<!-- 根据主键查询并返回数据持久化对象 -->
	<select id="selectByKey" resultType="Zlbz_temporaryPO">
		SELECT
		<include refid="column" />
		FROM zlbz_temporary WHERE  id_ = #{id_}
	</select>

	<!-- 根据唯一组合条件查询并返回数据持久化对象 -->
	<select id="selectOne" parameterType="Dto" resultType="Zlbz_temporaryPO">
		SELECT
		    <include refid="column" />
		FROM zlbz_temporary
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据持久化对象集合 -->
	<select id="list" parameterType="Dto" resultType="Zlbz_temporaryPO">
		SELECT
			<include refid="column" />	
		FROM zlbz_temporary
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据持久化对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="Zlbz_temporaryPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM zlbz_temporary
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="Zlbz_temporaryPO">
		SELECT
			<include refid="column" />	
		FROM zlbz_temporary
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="Zlbz_temporaryPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM zlbz_temporary
		<where>
		    <include refid="like" />
		</where>	
	</select>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS aos_rows_ FROM zlbz_temporary
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM zlbz_temporary
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 表字段 -->
	<sql id="column">
		  id_,  <!-- id_ -->
		  zhy,  <!-- zhy -->
		  zlbh,  <!-- zlbh -->
		  dalx,  <!-- dalx -->
		  zlsj,  <!-- zlsj -->
		  ztxt,  <!-- ztxt -->
		  mj,  <!-- mj -->
		  zz,  <!-- zz -->
		  wz,  <!-- wz -->
		  flh,  <!-- flh -->
		  ys,  <!-- ys -->
		  xq,  <!-- xq -->
		  zlml,  <!-- zlml -->
		  cbs,  <!-- cbs -->
		  _daoqi,  <!-- _daoqi -->
		  hjsj,  <!-- hjsj -->
		  hjr,  <!-- hjr -->
		  _kaifang,  <!-- _kaifang -->
		  _xh,  <!-- _xh -->
		  ssrl,  <!-- ssrl -->
		  ysys,  <!-- ysys -->
		  tm,  <!-- tm -->
		  ztlx,  <!-- ztlx -->
		  bgqx,  <!-- bgqx -->
		  dangdm,  <!-- dangdm -->
		  fs,  <!-- fs -->
		  fz,  <!-- fz -->
		  jsh,  <!-- jsh -->
		  mlh,  <!-- mlh -->
		  ndqh,  <!-- ndqh -->
		  rm,  <!-- rm -->
		  xcsj,  <!-- xcsj -->
		  ly,  <!-- ly -->
		  bz,  <!-- bz -->
		  mldm,  <!-- mldm -->
		  sxh,  <!-- sxh -->
		  dzhfs,  <!-- dzhfs -->
		  kfbz,  <!-- kfbz -->
		  hh,  <!-- hh -->
		  fj,  <!-- fj -->
		  damldm,  <!-- damldm -->
		  flag,  <!-- flag -->
		  cz_bh,  <!-- cz_bh -->
		  _lrr,  <!-- _lrr -->
		  _lrrq,  <!-- _lrrq -->
		  _classtree,  <!-- _classtree -->
		  _jy,  <!-- _jy -->
		  _jd,  <!-- _jd -->
		  _path,  <!-- _path -->
		  pch,  <!-- pch -->
		  lx,  <!-- lx -->
		  sxjczt,  <!-- sxjczt -->
		  sxjcjg,  <!-- sxjcjg -->
		  _piccount  <!-- _piccount -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  zlbz_temporary.id_,  <!-- id_ -->
		  zlbz_temporary.zhy,  <!-- zhy -->
		  zlbz_temporary.zlbh,  <!-- zlbh -->
		  zlbz_temporary.dalx,  <!-- dalx -->
		  zlbz_temporary.zlsj,  <!-- zlsj -->
		  zlbz_temporary.ztxt,  <!-- ztxt -->
		  zlbz_temporary.mj,  <!-- mj -->
		  zlbz_temporary.zz,  <!-- zz -->
		  zlbz_temporary.wz,  <!-- wz -->
		  zlbz_temporary.flh,  <!-- flh -->
		  zlbz_temporary.ys,  <!-- ys -->
		  zlbz_temporary.xq,  <!-- xq -->
		  zlbz_temporary.zlml,  <!-- zlml -->
		  zlbz_temporary.cbs,  <!-- cbs -->
		  zlbz_temporary._daoqi,  <!-- _daoqi -->
		  zlbz_temporary.hjsj,  <!-- hjsj -->
		  zlbz_temporary.hjr,  <!-- hjr -->
		  zlbz_temporary._kaifang,  <!-- _kaifang -->
		  zlbz_temporary._xh,  <!-- _xh -->
		  zlbz_temporary.ssrl,  <!-- ssrl -->
		  zlbz_temporary.ysys,  <!-- ysys -->
		  zlbz_temporary.tm,  <!-- tm -->
		  zlbz_temporary.ztlx,  <!-- ztlx -->
		  zlbz_temporary.bgqx,  <!-- bgqx -->
		  zlbz_temporary.dangdm,  <!-- dangdm -->
		  zlbz_temporary.fs,  <!-- fs -->
		  zlbz_temporary.fz,  <!-- fz -->
		  zlbz_temporary.jsh,  <!-- jsh -->
		  zlbz_temporary.mlh,  <!-- mlh -->
		  zlbz_temporary.ndqh,  <!-- ndqh -->
		  zlbz_temporary.rm,  <!-- rm -->
		  zlbz_temporary.xcsj,  <!-- xcsj -->
		  zlbz_temporary.ly,  <!-- ly -->
		  zlbz_temporary.bz,  <!-- bz -->
		  zlbz_temporary.mldm,  <!-- mldm -->
		  zlbz_temporary.sxh,  <!-- sxh -->
		  zlbz_temporary.dzhfs,  <!-- dzhfs -->
		  zlbz_temporary.kfbz,  <!-- kfbz -->
		  zlbz_temporary.hh,  <!-- hh -->
		  zlbz_temporary.fj,  <!-- fj -->
		  zlbz_temporary.damldm,  <!-- damldm -->
		  zlbz_temporary.flag,  <!-- flag -->
		  zlbz_temporary.cz_bh,  <!-- cz_bh -->
		  zlbz_temporary._lrr,  <!-- _lrr -->
		  zlbz_temporary._lrrq,  <!-- _lrrq -->
		  zlbz_temporary._classtree,  <!-- _classtree -->
		  zlbz_temporary._jy,  <!-- _jy -->
		  zlbz_temporary._jd,  <!-- _jd -->
		  zlbz_temporary._path,  <!-- _path -->
		  zlbz_temporary.pch,  <!-- pch -->
		  zlbz_temporary.lx,  <!-- lx -->
		  zlbz_temporary.sxjczt,  <!-- sxjczt -->
		  zlbz_temporary.sxjcjg,  <!-- sxjcjg -->
		  zlbz_temporary._piccount  <!-- _piccount -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	    <if test="id_ != null and id_ != ''">
		      AND id_ = #{id_}  <!-- id_ -->
		</if>
	    <if test="zhy != null and zhy != ''">
		      AND zhy = #{zhy}  <!-- zhy -->
		</if>
	    <if test="zlbh != null and zlbh != ''">
		      AND zlbh = #{zlbh}  <!-- zlbh -->
		</if>
	    <if test="dalx != null and dalx != ''">
		      AND dalx = #{dalx}  <!-- dalx -->
		</if>
	    <if test="zlsj != null and zlsj != ''">
		      AND zlsj = #{zlsj}  <!-- zlsj -->
		</if>
	    <if test="ztxt != null and ztxt != ''">
		      AND ztxt = #{ztxt}  <!-- ztxt -->
		</if>
	    <if test="mj != null and mj != ''">
		      AND mj = #{mj}  <!-- mj -->
		</if>
	    <if test="zz != null and zz != ''">
		      AND zz = #{zz}  <!-- zz -->
		</if>
	    <if test="wz != null and wz != ''">
		      AND wz = #{wz}  <!-- wz -->
		</if>
	    <if test="flh != null and flh != ''">
		      AND flh = #{flh}  <!-- flh -->
		</if>
	    <if test="ys != null and ys != ''">
		      AND ys = #{ys}  <!-- ys -->
		</if>
	    <if test="xq != null and xq != ''">
		      AND xq = #{xq}  <!-- xq -->
		</if>
	    <if test="zlml != null and zlml != ''">
		      AND zlml = #{zlml}  <!-- zlml -->
		</if>
	    <if test="cbs != null and cbs != ''">
		      AND cbs = #{cbs}  <!-- cbs -->
		</if>
	    <if test="_daoqi != null and _daoqi != ''">
		      AND _daoqi = #{_daoqi}  <!-- _daoqi -->
		</if>
	    <if test="hjsj != null and hjsj != ''">
		      AND hjsj = #{hjsj}  <!-- hjsj -->
		</if>
	    <if test="hjr != null and hjr != ''">
		      AND hjr = #{hjr}  <!-- hjr -->
		</if>
	    <if test="_kaifang != null and _kaifang != ''">
		      AND _kaifang = #{_kaifang}  <!-- _kaifang -->
		</if>
	    <if test="_xh != null and _xh != ''">
		      AND _xh = #{_xh}  <!-- _xh -->
		</if>
	   <if test="ssrl != null ">
		      AND ssrl = #{ssrl}  <!-- ssrl -->
		</if>
	   <if test="ysys != null ">
		      AND ysys = #{ysys}  <!-- ysys -->
		</if>
	    <if test="tm != null and tm != ''">
		      AND tm = #{tm}  <!-- tm -->
		</if>
	    <if test="ztlx != null and ztlx != ''">
		      AND ztlx = #{ztlx}  <!-- ztlx -->
		</if>
	    <if test="bgqx != null and bgqx != ''">
		      AND bgqx = #{bgqx}  <!-- bgqx -->
		</if>
	    <if test="dangdm != null and dangdm != ''">
		      AND dangdm = #{dangdm}  <!-- dangdm -->
		</if>
	    <if test="fs != null and fs != ''">
		      AND fs = #{fs}  <!-- fs -->
		</if>
	    <if test="fz != null and fz != ''">
		      AND fz = #{fz}  <!-- fz -->
		</if>
	    <if test="jsh != null and jsh != ''">
		      AND jsh = #{jsh}  <!-- jsh -->
		</if>
	    <if test="mlh != null and mlh != ''">
		      AND mlh = #{mlh}  <!-- mlh -->
		</if>
	    <if test="ndqh != null and ndqh != ''">
		      AND ndqh = #{ndqh}  <!-- ndqh -->
		</if>
	    <if test="rm != null and rm != ''">
		      AND rm = #{rm}  <!-- rm -->
		</if>
	    <if test="xcsj != null and xcsj != ''">
		      AND xcsj = #{xcsj}  <!-- xcsj -->
		</if>
	    <if test="ly != null and ly != ''">
		      AND ly = #{ly}  <!-- ly -->
		</if>
	    <if test="bz != null and bz != ''">
		      AND bz = #{bz}  <!-- bz -->
		</if>
	    <if test="mldm != null and mldm != ''">
		      AND mldm = #{mldm}  <!-- mldm -->
		</if>
	    <if test="sxh != null and sxh != ''">
		      AND sxh = #{sxh}  <!-- sxh -->
		</if>
	    <if test="dzhfs != null and dzhfs != ''">
		      AND dzhfs = #{dzhfs}  <!-- dzhfs -->
		</if>
	    <if test="kfbz != null and kfbz != ''">
		      AND kfbz = #{kfbz}  <!-- kfbz -->
		</if>
	    <if test="hh != null and hh != ''">
		      AND hh = #{hh}  <!-- hh -->
		</if>
	    <if test="fj != null and fj != ''">
		      AND fj = #{fj}  <!-- fj -->
		</if>
	    <if test="damldm != null and damldm != ''">
		      AND damldm = #{damldm}  <!-- damldm -->
		</if>
	    <if test="flag != null and flag != ''">
		      AND flag = #{flag}  <!-- flag -->
		</if>
	    <if test="cz_bh != null and cz_bh != ''">
		      AND cz_bh = #{cz_bh}  <!-- cz_bh -->
		</if>
	    <if test="_lrr != null and _lrr != ''">
		      AND _lrr = #{_lrr}  <!-- _lrr -->
		</if>
	    <if test="_lrrq != null and _lrrq != ''">
		      AND _lrrq = #{_lrrq}  <!-- _lrrq -->
		</if>
	    <if test="_classtree != null and _classtree != ''">
		      AND _classtree = #{_classtree}  <!-- _classtree -->
		</if>
	    <if test="_jy != null and _jy != ''">
		      AND _jy = #{_jy}  <!-- _jy -->
		</if>
	    <if test="_jd != null and _jd != ''">
		      AND _jd = #{_jd}  <!-- _jd -->
		</if>
	   <if test="_path != null ">
		      AND _path = #{_path}  <!-- _path -->
		</if>
	    <if test="pch != null and pch != ''">
		      AND pch = #{pch}  <!-- pch -->
		</if>
	    <if test="lx != null and lx != ''">
		      AND lx = #{lx}  <!-- lx -->
		</if>
	    <if test="sxjczt != null and sxjczt != ''">
		      AND sxjczt = #{sxjczt}  <!-- sxjczt -->
		</if>
	    <if test="sxjcjg != null and sxjcjg != ''">
		      AND sxjcjg = #{sxjcjg}  <!-- sxjcjg -->
		</if>
	   <if test="_piccount != null ">
		      AND _piccount = #{_piccount}  <!-- _piccount -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="id_ != null and id_ != ''">
		      AND id_ like '%${id_}%'  <!-- id_ -->
		</if>
	    <if test="zhy != null and zhy != ''">
		      AND zhy like '%${zhy}%'  <!-- zhy -->
		</if>
	    <if test="zlbh != null and zlbh != ''">
		      AND zlbh like '%${zlbh}%'  <!-- zlbh -->
		</if>
	    <if test="dalx != null and dalx != ''">
		      AND dalx like '%${dalx}%'  <!-- dalx -->
		</if>
	    <if test="zlsj != null and zlsj != ''">
		      AND zlsj like '%${zlsj}%'  <!-- zlsj -->
		</if>
	    <if test="ztxt != null and ztxt != ''">
		      AND ztxt like '%${ztxt}%'  <!-- ztxt -->
		</if>
	    <if test="mj != null and mj != ''">
		      AND mj like '%${mj}%'  <!-- mj -->
		</if>
	    <if test="zz != null and zz != ''">
		      AND zz like '%${zz}%'  <!-- zz -->
		</if>
	    <if test="wz != null and wz != ''">
		      AND wz like '%${wz}%'  <!-- wz -->
		</if>
	    <if test="flh != null and flh != ''">
		      AND flh like '%${flh}%'  <!-- flh -->
		</if>
	    <if test="ys != null and ys != ''">
		      AND ys like '%${ys}%'  <!-- ys -->
		</if>
	    <if test="xq != null and xq != ''">
		      AND xq like '%${xq}%'  <!-- xq -->
		</if>
	    <if test="zlml != null and zlml != ''">
		      AND zlml like '%${zlml}%'  <!-- zlml -->
		</if>
	    <if test="cbs != null and cbs != ''">
		      AND cbs like '%${cbs}%'  <!-- cbs -->
		</if>
	    <if test="_daoqi != null and _daoqi != ''">
		      AND _daoqi like '%${_daoqi}%'  <!-- _daoqi -->
		</if>
	    <if test="hjsj != null and hjsj != ''">
		      AND hjsj like '%${hjsj}%'  <!-- hjsj -->
		</if>
	    <if test="hjr != null and hjr != ''">
		      AND hjr like '%${hjr}%'  <!-- hjr -->
		</if>
	    <if test="_kaifang != null and _kaifang != ''">
		      AND _kaifang like '%${_kaifang}%'  <!-- _kaifang -->
		</if>
	    <if test="_xh != null and _xh != ''">
		      AND _xh like '%${_xh}%'  <!-- _xh -->
		</if>
	    <if test="tm != null and tm != ''">
		      AND tm like '%${tm}%'  <!-- tm -->
		</if>
	    <if test="ztlx != null and ztlx != ''">
		      AND ztlx like '%${ztlx}%'  <!-- ztlx -->
		</if>
	    <if test="bgqx != null and bgqx != ''">
		      AND bgqx like '%${bgqx}%'  <!-- bgqx -->
		</if>
	    <if test="dangdm != null and dangdm != ''">
		      AND dangdm like '%${dangdm}%'  <!-- dangdm -->
		</if>
	    <if test="fs != null and fs != ''">
		      AND fs like '%${fs}%'  <!-- fs -->
		</if>
	    <if test="fz != null and fz != ''">
		      AND fz like '%${fz}%'  <!-- fz -->
		</if>
	    <if test="jsh != null and jsh != ''">
		      AND jsh like '%${jsh}%'  <!-- jsh -->
		</if>
	    <if test="mlh != null and mlh != ''">
		      AND mlh like '%${mlh}%'  <!-- mlh -->
		</if>
	    <if test="ndqh != null and ndqh != ''">
		      AND ndqh like '%${ndqh}%'  <!-- ndqh -->
		</if>
	    <if test="rm != null and rm != ''">
		      AND rm like '%${rm}%'  <!-- rm -->
		</if>
	    <if test="xcsj != null and xcsj != ''">
		      AND xcsj like '%${xcsj}%'  <!-- xcsj -->
		</if>
	    <if test="ly != null and ly != ''">
		      AND ly like '%${ly}%'  <!-- ly -->
		</if>
	    <if test="bz != null and bz != ''">
		      AND bz like '%${bz}%'  <!-- bz -->
		</if>
	    <if test="mldm != null and mldm != ''">
		      AND mldm like '%${mldm}%'  <!-- mldm -->
		</if>
	    <if test="sxh != null and sxh != ''">
		      AND sxh like '%${sxh}%'  <!-- sxh -->
		</if>
	    <if test="dzhfs != null and dzhfs != ''">
		      AND dzhfs like '%${dzhfs}%'  <!-- dzhfs -->
		</if>
	    <if test="kfbz != null and kfbz != ''">
		      AND kfbz like '%${kfbz}%'  <!-- kfbz -->
		</if>
	    <if test="hh != null and hh != ''">
		      AND hh like '%${hh}%'  <!-- hh -->
		</if>
	    <if test="fj != null and fj != ''">
		      AND fj like '%${fj}%'  <!-- fj -->
		</if>
	    <if test="damldm != null and damldm != ''">
		      AND damldm like '%${damldm}%'  <!-- damldm -->
		</if>
	    <if test="flag != null and flag != ''">
		      AND flag like '%${flag}%'  <!-- flag -->
		</if>
	    <if test="cz_bh != null and cz_bh != ''">
		      AND cz_bh like '%${cz_bh}%'  <!-- cz_bh -->
		</if>
	    <if test="_lrr != null and _lrr != ''">
		      AND _lrr like '%${_lrr}%'  <!-- _lrr -->
		</if>
	    <if test="_lrrq != null and _lrrq != ''">
		      AND _lrrq like '%${_lrrq}%'  <!-- _lrrq -->
		</if>
	    <if test="_classtree != null and _classtree != ''">
		      AND _classtree like '%${_classtree}%'  <!-- _classtree -->
		</if>
	    <if test="_jy != null and _jy != ''">
		      AND _jy like '%${_jy}%'  <!-- _jy -->
		</if>
	    <if test="_jd != null and _jd != ''">
		      AND _jd like '%${_jd}%'  <!-- _jd -->
		</if>
	    <if test="pch != null and pch != ''">
		      AND pch like '%${pch}%'  <!-- pch -->
		</if>
	    <if test="lx != null and lx != ''">
		      AND lx like '%${lx}%'  <!-- lx -->
		</if>
	    <if test="sxjczt != null and sxjczt != ''">
		      AND sxjczt like '%${sxjczt}%'  <!-- sxjczt -->
		</if>
	    <if test="sxjcjg != null and sxjcjg != ''">
		      AND sxjcjg like '%${sxjcjg}%'  <!-- sxjcjg -->
		</if>
	</sql>
	
</mapper>