<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- archive_leader[archive_leader]SQLMapper自动映射 -->
<!--  注意:此文件由AOS平台自动生成-禁止手工修改 2019-11-02 14:05:01 -->
<mapper namespace="cn.osworks.aos.system.dao.mapper.Archive_leaderMapper">
	
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert"  parameterType="Archive_leaderPO">
		INSERT INTO archive_leader (
		<if test="tid != null and tid != ''">
	         tid, <!-- tid -->
		</if>
		<if test="leader_person != null and leader_person != ''">
	         leader_person, <!-- leader_person -->
		</if>
		<if test="leader_time != null and leader_time != ''">
	         leader_time, <!-- leader_time -->
		</if>
		<if test="leader_message != null and leader_message != ''">
	         leader_message, <!-- leader_message -->
		</if>
		<if test="id_ != null and id_ != ''">
	          id_  <!-- id_ -->
	   </if>
		)VALUES(
		<if test="tid != null and tid != ''">
	          #{tid, jdbcType=VARCHAR}, <!-- tid -->
	    </if>
		<if test="leader_person != null and leader_person != ''">
	          #{leader_person, jdbcType=VARCHAR}, <!-- leader_person -->
	    </if>
		<if test="leader_time != null and leader_time != ''">
	          #{leader_time, jdbcType=VARCHAR}, <!-- leader_time -->
	    </if>
		<if test="leader_message != null and leader_message != ''">
	          #{leader_message, jdbcType=VARCHAR}, <!-- leader_message -->
	    </if>
		<if test="id_ != null and id_ != ''">
		     #{id_, jdbcType=VARCHAR}  <!-- id_ -->
	    </if>
		)
	</insert>
	
	<!-- 插入一个数据持久化对象(含所有字段) -->
	<insert id="insertAll"  parameterType="Archive_leaderPO">
		INSERT INTO archive_leader (
		    <include refid="column" />
		)
		VALUES (
		    #{id_, jdbcType=VARCHAR},  <!-- id_ -->
		    #{tid, jdbcType=VARCHAR},  <!-- tid -->
		    #{leader_person, jdbcType=VARCHAR},  <!-- leader_person -->
		    #{leader_time, jdbcType=VARCHAR},  <!-- leader_time -->
		    #{leader_message, jdbcType=VARCHAR}  <!-- leader_message -->
		)
	</insert>

	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="Archive_leaderPO">
		UPDATE archive_leader
		<set>
			<if test="id_ != null">
		          id_ = #{id_, jdbcType=VARCHAR},  <!-- id_ -->
			</if>
			<if test="tid != null">
		          tid = #{tid, jdbcType=VARCHAR},  <!-- tid -->
			</if>
			<if test="leader_person != null">
		          leader_person = #{leader_person, jdbcType=VARCHAR},  <!-- leader_person -->
			</if>
			<if test="leader_time != null">
		          leader_time = #{leader_time, jdbcType=VARCHAR},  <!-- leader_time -->
			</if>
			<if test="leader_message != null">
		          leader_message = #{leader_message, jdbcType=VARCHAR},  <!-- leader_message -->
			</if>
		</set>
		WHERE  id_ = #{id_}
	</update>
	
	<!-- 根据主键删除数据持久化对象 -->
	<delete id="deleteByKey">
		DELETE FROM archive_leader WHERE  id_ = #{id_}
	</delete>

	<!-- 根据主键查询并返回数据持久化对象 -->
	<select id="selectByKey" resultType="Archive_leaderPO">
		SELECT
		<include refid="column" />
		FROM archive_leader WHERE  id_ = #{id_}
	</select>

	<!-- 根据唯一组合条件查询并返回数据持久化对象 -->
	<select id="selectOne" parameterType="Dto" resultType="Archive_leaderPO">
		SELECT
		    <include refid="column" />
		FROM archive_leader
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据持久化对象集合 -->
	<select id="list" parameterType="Dto" resultType="Archive_leaderPO">
		SELECT
			<include refid="column" />	
		FROM archive_leader
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据持久化对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="Archive_leaderPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM archive_leader
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="Archive_leaderPO">
		SELECT
			<include refid="column" />	
		FROM archive_leader
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="Archive_leaderPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM archive_leader
		<where>
		    <include refid="like" />
		</where>	
	</select>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS aos_rows_ FROM archive_leader
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM archive_leader
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 表字段 -->
	<sql id="column">
		  id_,  <!-- id_ -->
		  tid,  <!-- tid -->
		  leader_person,  <!-- leader_person -->
		  leader_time,  <!-- leader_time -->
		  leader_message  <!-- leader_message -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  archive_leader.id_,  <!-- id_ -->
		  archive_leader.tid,  <!-- tid -->
		  archive_leader.leader_person,  <!-- leader_person -->
		  archive_leader.leader_time,  <!-- leader_time -->
		  archive_leader.leader_message  <!-- leader_message -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	    <if test="id_ != null and id_ != ''">
		      AND id_ = #{id_}  <!-- id_ -->
		</if>
	    <if test="tid != null and tid != ''">
		      AND tid = #{tid}  <!-- tid -->
		</if>
	    <if test="leader_person != null and leader_person != ''">
		      AND leader_person = #{leader_person}  <!-- leader_person -->
		</if>
	    <if test="leader_time != null and leader_time != ''">
		      AND leader_time = #{leader_time}  <!-- leader_time -->
		</if>
	    <if test="leader_message != null and leader_message != ''">
		      AND leader_message = #{leader_message}  <!-- leader_message -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="id_ != null and id_ != ''">
		      AND id_ like '%${id_}%'  <!-- id_ -->
		</if>
	    <if test="tid != null and tid != ''">
		      AND tid like '%${tid}%'  <!-- tid -->
		</if>
	    <if test="leader_person != null and leader_person != ''">
		      AND leader_person like '%${leader_person}%'  <!-- leader_person -->
		</if>
	    <if test="leader_time != null and leader_time != ''">
		      AND leader_time like '%${leader_time}%'  <!-- leader_time -->
		</if>
	    <if test="leader_message != null and leader_message != ''">
		      AND leader_message like '%${leader_message}%'  <!-- leader_message -->
		</if>
	</sql>
	
</mapper>