<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- archive_remote_log[archive_remote_log]SQLMapper自动映射 -->
<!--  注意:此文件由AOS平台自动生成-禁止手工修改 2020-02-24 12:25:36 -->
<mapper namespace="cn.osworks.aos.system.dao.mapper.Archive_remote_logMapper">
	
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert"  parameterType="Archive_remote_logPO">
		INSERT INTO archive_remote_log (
		<if test="tid != null and tid != ''">
	         tid, <!-- tid -->
		</if>
		<if test="czsj != null and czsj != ''">
	         czsj, <!-- czsj -->
		</if>
		<if test="czr != null and czr != ''">
	         czr, <!-- czr -->
		</if>
		<if test="cznr != null and cznr != ''">
	         cznr, <!-- cznr -->
		</if>
		<if test="id_ != null and id_ != ''">
	          id_  <!-- id_ -->
	   </if>
		)VALUES(
		<if test="tid != null and tid != ''">
	          #{tid, jdbcType=VARCHAR}, <!-- tid -->
	    </if>
		<if test="czsj != null and czsj != ''">
	          #{czsj, jdbcType=VARCHAR}, <!-- czsj -->
	    </if>
		<if test="czr != null and czr != ''">
	          #{czr, jdbcType=VARCHAR}, <!-- czr -->
	    </if>
		<if test="cznr != null and cznr != ''">
	          #{cznr, jdbcType=VARCHAR}, <!-- cznr -->
	    </if>
		<if test="id_ != null and id_ != ''">
		     #{id_, jdbcType=VARCHAR}  <!-- id_ -->
	    </if>
		)
	</insert>
	
	<!-- 插入一个数据持久化对象(含所有字段) -->
	<insert id="insertAll"  parameterType="Archive_remote_logPO">
		INSERT INTO archive_remote_log (
		    <include refid="column" />
		)
		VALUES (
		    #{id_, jdbcType=VARCHAR},  <!-- id_ -->
		    #{tid, jdbcType=VARCHAR},  <!-- tid -->
		    #{czsj, jdbcType=VARCHAR},  <!-- czsj -->
		    #{czr, jdbcType=VARCHAR},  <!-- czr -->
		    #{cznr, jdbcType=VARCHAR}  <!-- cznr -->
		)
	</insert>

	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="Archive_remote_logPO">
		UPDATE archive_remote_log
		<set>
			<if test="id_ != null">
		          id_ = #{id_, jdbcType=VARCHAR},  <!-- id_ -->
			</if>
			<if test="tid != null">
		          tid = #{tid, jdbcType=VARCHAR},  <!-- tid -->
			</if>
			<if test="czsj != null">
		          czsj = #{czsj, jdbcType=VARCHAR},  <!-- czsj -->
			</if>
			<if test="czr != null">
		          czr = #{czr, jdbcType=VARCHAR},  <!-- czr -->
			</if>
			<if test="cznr != null">
		          cznr = #{cznr, jdbcType=VARCHAR},  <!-- cznr -->
			</if>
		</set>
		WHERE  id_ = #{id_}
	</update>
	
	<!-- 根据主键删除数据持久化对象 -->
	<delete id="deleteByKey">
		DELETE FROM archive_remote_log WHERE  id_ = #{id_}
	</delete>

	<!-- 根据主键查询并返回数据持久化对象 -->
	<select id="selectByKey" resultType="Archive_remote_logPO">
		SELECT
		<include refid="column" />
		FROM archive_remote_log WHERE  id_ = #{id_}
	</select>

	<!-- 根据唯一组合条件查询并返回数据持久化对象 -->
	<select id="selectOne" parameterType="Dto" resultType="Archive_remote_logPO">
		SELECT
		    <include refid="column" />
		FROM archive_remote_log
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据持久化对象集合 -->
	<select id="list" parameterType="Dto" resultType="Archive_remote_logPO">
		SELECT
			<include refid="column" />	
		FROM archive_remote_log
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据持久化对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="Archive_remote_logPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM archive_remote_log
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="Archive_remote_logPO">
		SELECT
			<include refid="column" />	
		FROM archive_remote_log
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="Archive_remote_logPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM archive_remote_log
		<where>
		    <include refid="like" />
		</where>	
	</select>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS aos_rows_ FROM archive_remote_log
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM archive_remote_log
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 表字段 -->
	<sql id="column">
		  id_,  <!-- id_ -->
		  tid,  <!-- tid -->
		  czsj,  <!-- czsj -->
		  czr,  <!-- czr -->
		  cznr  <!-- cznr -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  archive_remote_log.id_,  <!-- id_ -->
		  archive_remote_log.tid,  <!-- tid -->
		  archive_remote_log.czsj,  <!-- czsj -->
		  archive_remote_log.czr,  <!-- czr -->
		  archive_remote_log.cznr  <!-- cznr -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	    <if test="id_ != null and id_ != ''">
		      AND id_ = #{id_}  <!-- id_ -->
		</if>
	    <if test="tid != null and tid != ''">
		      AND tid = #{tid}  <!-- tid -->
		</if>
	    <if test="czsj != null and czsj != ''">
		      AND czsj = #{czsj}  <!-- czsj -->
		</if>
	    <if test="czr != null and czr != ''">
		      AND czr = #{czr}  <!-- czr -->
		</if>
	    <if test="cznr != null and cznr != ''">
		      AND cznr = #{cznr}  <!-- cznr -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="id_ != null and id_ != ''">
		      AND id_ like '%${id_}%'  <!-- id_ -->
		</if>
	    <if test="tid != null and tid != ''">
		      AND tid like '%${tid}%'  <!-- tid -->
		</if>
	    <if test="czsj != null and czsj != ''">
		      AND czsj like '%${czsj}%'  <!-- czsj -->
		</if>
	    <if test="czr != null and czr != ''">
		      AND czr like '%${czr}%'  <!-- czr -->
		</if>
	    <if test="cznr != null and cznr != ''">
		      AND cznr like '%${cznr}%'  <!-- cznr -->
		</if>
	</sql>
	
</mapper>