<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- zyjs_n[zyjs_n]SQLMapper自动映射 -->
<!--  注意:此文件由AOS平台自动生成-禁止手工修改 2020-08-11 09:37:43 -->
<mapper namespace="cn.osworks.aos.system.dao.mapper.Zyjs_nMapper">
	
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert"  parameterType="Zyjs_nPO">
		INSERT INTO zyjs_n (
		<if test="_mj != null and _mj != ''">
	         _mj, <!-- _mj -->
		</if>
		<if test="hjsj != null and hjsj != ''">
	         hjsj, <!-- hjsj -->
		</if>
		<if test="hjr != null and hjr != ''">
	         hjr, <!-- hjr -->
		</if>
		<if test="kfbs != null and kfbs != ''">
	         kfbs, <!-- kfbs -->
		</if>
		<if test="jybs != null and jybs != ''">
	         jybs, <!-- jybs -->
		</if>
		<if test="_kaifang != null and _kaifang != ''">
	         _kaifang, <!-- _kaifang -->
		</if>
		<if test="_xh != null and _xh != ''">
	         _xh, <!-- _xh -->
		</if>
		<if test="_daoqi != null and _daoqi != ''">
	         _daoqi, <!-- _daoqi -->
		</if>
		<if test="_bgqx != null and _bgqx != ''">
	         _bgqx, <!-- _bgqx -->
		</if>
		<if test="ssrl != null">
	         ssrl, <!-- ssrl -->
		</if>
		<if test="ysys != null">
	         ysys, <!-- ysys -->
		</if>
		<if test="yjbm != null and yjbm != ''">
	         yjbm, <!-- yjbm -->
		</if>
		<if test="yjr != null and yjr != ''">
	         yjr, <!-- yjr -->
		</if>
		<if test="tm != null and tm != ''">
	         tm, <!-- tm -->
		</if>
		<if test="zrz != null and zrz != ''">
	         zrz, <!-- zrz -->
		</if>
		<if test="xcsj != null and xcsj != ''">
	         xcsj, <!-- xcsj -->
		</if>
		<if test="ztlx != null and ztlx != ''">
	         ztlx, <!-- ztlx -->
		</if>
		<if test="ys != null and ys != ''">
	         ys, <!-- ys -->
		</if>
		<if test="sc != null and sc != ''">
	         sc, <!-- sc -->
		</if>
		<if test="sfzj != null and sfzj != ''">
	         sfzj, <!-- sfzj -->
		</if>
		<if test="jsr != null and jsr != ''">
	         jsr, <!-- jsr -->
		</if>
		<if test="bz != null and bz != ''">
	         bz, <!-- bz -->
		</if>
		<if test="xq != null and xq != ''">
	         xq, <!-- xq -->
		</if>
		<if test="zhjsj != null and zhjsj != ''">
	         zhjsj, <!-- zhjsj -->
		</if>
		<if test="zhjbm != null and zhjbm != ''">
	         zhjbm, <!-- zhjbm -->
		</if>
		<if test="zhjr != null and zhjr != ''">
	         zhjr, <!-- zhjr -->
		</if>
		<if test="_lrr != null and _lrr != ''">
	         _lrr, <!-- _lrr -->
		</if>
		<if test="_lrrq != null and _lrrq != ''">
	         _lrrq, <!-- _lrrq -->
		</if>
		<if test="_classtree != null and _classtree != ''">
	         _classtree, <!-- _classtree -->
		</if>
		<if test="_jy != null and _jy != ''">
	         _jy, <!-- _jy -->
		</if>
		<if test="_jd != null and _jd != ''">
	         _jd, <!-- _jd -->
		</if>
		<if test="_path != null">
	         _path, <!-- _path -->
		</if>
		<if test="jsbh != null and jsbh != ''">
	         jsbh, <!-- jsbh -->
		</if>
		<if test="jssj != null and jssj != ''">
	         jssj, <!-- jssj -->
		</if>
		<if test="jsbm != null and jsbm != ''">
	         jsbm, <!-- jsbm -->
		</if>
		<if test="flag != null and flag != ''">
	         flag, <!-- flag -->
		</if>
		<if test="cz_bh != null and cz_bh != ''">
	         cz_bh, <!-- cz_bh -->
		</if>
		<if test="nd != null and nd != ''">
	         nd, <!-- nd -->
		</if>
		<if test="cjr != null and cjr != ''">
	         cjr, <!-- cjr -->
		</if>
		<if test="jszt != null and jszt != ''">
	         jszt, <!-- jszt -->
		</if>
		<if test="flag_submit != null and flag_submit != ''">
	         flag_submit, <!-- flag_submit -->
		</if>
		<if test="flag_examine != null and flag_examine != ''">
	         flag_examine, <!-- flag_examine -->
		</if>
		<if test="shperson != null and shperson != ''">
	         shperson, <!-- shperson -->
		</if>
		<if test="shsj != null and shsj != ''">
	         shsj, <!-- shsj -->
		</if>
		<if test="shyj != null and shyj != ''">
	         shyj, <!-- shyj -->
		</if>
		<if test="lx != null and lx != ''">
	         lx, <!-- lx -->
		</if>
		<if test="id_ != null and id_ != ''">
	          id_  <!-- id_ -->
	   </if>
		)VALUES(
		<if test="_mj != null and _mj != ''">
	          #{_mj, jdbcType=VARCHAR}, <!-- _mj -->
	    </if>
		<if test="hjsj != null and hjsj != ''">
	          #{hjsj, jdbcType=VARCHAR}, <!-- hjsj -->
	    </if>
		<if test="hjr != null and hjr != ''">
	          #{hjr, jdbcType=VARCHAR}, <!-- hjr -->
	    </if>
		<if test="kfbs != null and kfbs != ''">
	          #{kfbs, jdbcType=VARCHAR}, <!-- kfbs -->
	    </if>
		<if test="jybs != null and jybs != ''">
	          #{jybs, jdbcType=VARCHAR}, <!-- jybs -->
	    </if>
		<if test="_kaifang != null and _kaifang != ''">
	          #{_kaifang, jdbcType=VARCHAR}, <!-- _kaifang -->
	    </if>
		<if test="_xh != null and _xh != ''">
	          #{_xh, jdbcType=VARCHAR}, <!-- _xh -->
	    </if>
		<if test="_daoqi != null and _daoqi != ''">
	          #{_daoqi, jdbcType=VARCHAR}, <!-- _daoqi -->
	    </if>
		<if test="_bgqx != null and _bgqx != ''">
	          #{_bgqx, jdbcType=VARCHAR}, <!-- _bgqx -->
	    </if>
		<if test="ssrl != null">
	          #{ssrl, jdbcType=INTEGER}, <!-- ssrl -->
	    </if>
		<if test="ysys != null">
	          #{ysys, jdbcType=INTEGER}, <!-- ysys -->
	    </if>
		<if test="yjbm != null and yjbm != ''">
	          #{yjbm, jdbcType=VARCHAR}, <!-- yjbm -->
	    </if>
		<if test="yjr != null and yjr != ''">
	          #{yjr, jdbcType=VARCHAR}, <!-- yjr -->
	    </if>
		<if test="tm != null and tm != ''">
	          #{tm, jdbcType=VARCHAR}, <!-- tm -->
	    </if>
		<if test="zrz != null and zrz != ''">
	          #{zrz, jdbcType=VARCHAR}, <!-- zrz -->
	    </if>
		<if test="xcsj != null and xcsj != ''">
	          #{xcsj, jdbcType=VARCHAR}, <!-- xcsj -->
	    </if>
		<if test="ztlx != null and ztlx != ''">
	          #{ztlx, jdbcType=VARCHAR}, <!-- ztlx -->
	    </if>
		<if test="ys != null and ys != ''">
	          #{ys, jdbcType=VARCHAR}, <!-- ys -->
	    </if>
		<if test="sc != null and sc != ''">
	          #{sc, jdbcType=VARCHAR}, <!-- sc -->
	    </if>
		<if test="sfzj != null and sfzj != ''">
	          #{sfzj, jdbcType=VARCHAR}, <!-- sfzj -->
	    </if>
		<if test="jsr != null and jsr != ''">
	          #{jsr, jdbcType=VARCHAR}, <!-- jsr -->
	    </if>
		<if test="bz != null and bz != ''">
	          #{bz, jdbcType=VARCHAR}, <!-- bz -->
	    </if>
		<if test="xq != null and xq != ''">
	          #{xq, jdbcType=VARCHAR}, <!-- xq -->
	    </if>
		<if test="zhjsj != null and zhjsj != ''">
	          #{zhjsj, jdbcType=VARCHAR}, <!-- zhjsj -->
	    </if>
		<if test="zhjbm != null and zhjbm != ''">
	          #{zhjbm, jdbcType=VARCHAR}, <!-- zhjbm -->
	    </if>
		<if test="zhjr != null and zhjr != ''">
	          #{zhjr, jdbcType=VARCHAR}, <!-- zhjr -->
	    </if>
		<if test="_lrr != null and _lrr != ''">
	          #{_lrr, jdbcType=VARCHAR}, <!-- _lrr -->
	    </if>
		<if test="_lrrq != null and _lrrq != ''">
	          #{_lrrq, jdbcType=VARCHAR}, <!-- _lrrq -->
	    </if>
		<if test="_classtree != null and _classtree != ''">
	          #{_classtree, jdbcType=VARCHAR}, <!-- _classtree -->
	    </if>
		<if test="_jy != null and _jy != ''">
	          #{_jy, jdbcType=VARCHAR}, <!-- _jy -->
	    </if>
		<if test="_jd != null and _jd != ''">
	          #{_jd, jdbcType=VARCHAR}, <!-- _jd -->
	    </if>
		<if test="_path != null">
	          #{_path, jdbcType=INTEGER}, <!-- _path -->
	    </if>
		<if test="jsbh != null and jsbh != ''">
	          #{jsbh, jdbcType=VARCHAR}, <!-- jsbh -->
	    </if>
		<if test="jssj != null and jssj != ''">
	          #{jssj, jdbcType=VARCHAR}, <!-- jssj -->
	    </if>
		<if test="jsbm != null and jsbm != ''">
	          #{jsbm, jdbcType=VARCHAR}, <!-- jsbm -->
	    </if>
		<if test="flag != null and flag != ''">
	          #{flag, jdbcType=VARCHAR}, <!-- flag -->
	    </if>
		<if test="cz_bh != null and cz_bh != ''">
	          #{cz_bh, jdbcType=VARCHAR}, <!-- cz_bh -->
	    </if>
		<if test="nd != null and nd != ''">
	          #{nd, jdbcType=VARCHAR}, <!-- nd -->
	    </if>
		<if test="cjr != null and cjr != ''">
	          #{cjr, jdbcType=VARCHAR}, <!-- cjr -->
	    </if>
		<if test="jszt != null and jszt != ''">
	          #{jszt, jdbcType=VARCHAR}, <!-- jszt -->
	    </if>
		<if test="flag_submit != null and flag_submit != ''">
	          #{flag_submit, jdbcType=VARCHAR}, <!-- flag_submit -->
	    </if>
		<if test="flag_examine != null and flag_examine != ''">
	          #{flag_examine, jdbcType=VARCHAR}, <!-- flag_examine -->
	    </if>
		<if test="shperson != null and shperson != ''">
	          #{shperson, jdbcType=VARCHAR}, <!-- shperson -->
	    </if>
		<if test="shsj != null and shsj != ''">
	          #{shsj, jdbcType=VARCHAR}, <!-- shsj -->
	    </if>
		<if test="shyj != null and shyj != ''">
	          #{shyj, jdbcType=VARCHAR}, <!-- shyj -->
	    </if>
		<if test="lx != null and lx != ''">
	          #{lx, jdbcType=VARCHAR}, <!-- lx -->
	    </if>
		<if test="id_ != null and id_ != ''">
		     #{id_, jdbcType=VARCHAR}  <!-- id_ -->
	    </if>
		)
	</insert>
	
	<!-- 插入一个数据持久化对象(含所有字段) -->
	<insert id="insertAll"  parameterType="Zyjs_nPO">
		INSERT INTO zyjs_n (
		    <include refid="column" />
		)
		VALUES (
		    #{id_, jdbcType=VARCHAR},  <!-- id_ -->
		    #{_mj, jdbcType=VARCHAR},  <!-- _mj -->
		    #{hjsj, jdbcType=VARCHAR},  <!-- hjsj -->
		    #{hjr, jdbcType=VARCHAR},  <!-- hjr -->
		    #{kfbs, jdbcType=VARCHAR},  <!-- kfbs -->
		    #{jybs, jdbcType=VARCHAR},  <!-- jybs -->
		    #{_kaifang, jdbcType=VARCHAR},  <!-- _kaifang -->
		    #{_xh, jdbcType=VARCHAR},  <!-- _xh -->
		    #{_daoqi, jdbcType=VARCHAR},  <!-- _daoqi -->
		    #{_bgqx, jdbcType=VARCHAR},  <!-- _bgqx -->
		    #{ssrl, jdbcType=INTEGER},  <!-- ssrl -->
		    #{ysys, jdbcType=INTEGER},  <!-- ysys -->
		    #{yjbm, jdbcType=VARCHAR},  <!-- yjbm -->
		    #{yjr, jdbcType=VARCHAR},  <!-- yjr -->
		    #{tm, jdbcType=VARCHAR},  <!-- tm -->
		    #{zrz, jdbcType=VARCHAR},  <!-- zrz -->
		    #{xcsj, jdbcType=VARCHAR},  <!-- xcsj -->
		    #{ztlx, jdbcType=VARCHAR},  <!-- ztlx -->
		    #{ys, jdbcType=VARCHAR},  <!-- ys -->
		    #{sc, jdbcType=VARCHAR},  <!-- sc -->
		    #{sfzj, jdbcType=VARCHAR},  <!-- sfzj -->
		    #{jsr, jdbcType=VARCHAR},  <!-- jsr -->
		    #{bz, jdbcType=VARCHAR},  <!-- bz -->
		    #{xq, jdbcType=VARCHAR},  <!-- xq -->
		    #{zhjsj, jdbcType=VARCHAR},  <!-- zhjsj -->
		    #{zhjbm, jdbcType=VARCHAR},  <!-- zhjbm -->
		    #{zhjr, jdbcType=VARCHAR},  <!-- zhjr -->
		    #{_lrr, jdbcType=VARCHAR},  <!-- _lrr -->
		    #{_lrrq, jdbcType=VARCHAR},  <!-- _lrrq -->
		    #{_classtree, jdbcType=VARCHAR},  <!-- _classtree -->
		    #{_jy, jdbcType=VARCHAR},  <!-- _jy -->
		    #{_jd, jdbcType=VARCHAR},  <!-- _jd -->
		    #{_path, jdbcType=INTEGER},  <!-- _path -->
		    #{jsbh, jdbcType=VARCHAR},  <!-- jsbh -->
		    #{jssj, jdbcType=VARCHAR},  <!-- jssj -->
		    #{jsbm, jdbcType=VARCHAR},  <!-- jsbm -->
		    #{flag, jdbcType=VARCHAR},  <!-- flag -->
		    #{cz_bh, jdbcType=VARCHAR},  <!-- cz_bh -->
		    #{nd, jdbcType=VARCHAR},  <!-- nd -->
		    #{cjr, jdbcType=VARCHAR},  <!-- cjr -->
		    #{jszt, jdbcType=VARCHAR},  <!-- jszt -->
		    #{flag_submit, jdbcType=VARCHAR},  <!-- flag_submit -->
		    #{flag_examine, jdbcType=VARCHAR},  <!-- flag_examine -->
		    #{shperson, jdbcType=VARCHAR},  <!-- shperson -->
		    #{shsj, jdbcType=VARCHAR},  <!-- shsj -->
		    #{shyj, jdbcType=VARCHAR},  <!-- shyj -->
		    #{lx, jdbcType=VARCHAR}  <!-- lx -->
		)
	</insert>

	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="Zyjs_nPO">
		UPDATE zyjs_n
		<set>
			<if test="id_ != null">
		          id_ = #{id_, jdbcType=VARCHAR},  <!-- id_ -->
			</if>
			<if test="_mj != null">
		          _mj = #{_mj, jdbcType=VARCHAR},  <!-- _mj -->
			</if>
			<if test="hjsj != null">
		          hjsj = #{hjsj, jdbcType=VARCHAR},  <!-- hjsj -->
			</if>
			<if test="hjr != null">
		          hjr = #{hjr, jdbcType=VARCHAR},  <!-- hjr -->
			</if>
			<if test="kfbs != null">
		          kfbs = #{kfbs, jdbcType=VARCHAR},  <!-- kfbs -->
			</if>
			<if test="jybs != null">
		          jybs = #{jybs, jdbcType=VARCHAR},  <!-- jybs -->
			</if>
			<if test="_kaifang != null">
		          _kaifang = #{_kaifang, jdbcType=VARCHAR},  <!-- _kaifang -->
			</if>
			<if test="_xh != null">
		          _xh = #{_xh, jdbcType=VARCHAR},  <!-- _xh -->
			</if>
			<if test="_daoqi != null">
		          _daoqi = #{_daoqi, jdbcType=VARCHAR},  <!-- _daoqi -->
			</if>
			<if test="_bgqx != null">
		          _bgqx = #{_bgqx, jdbcType=VARCHAR},  <!-- _bgqx -->
			</if>
			<if test="ssrl != null">
		          ssrl = #{ssrl, jdbcType=INTEGER},  <!-- ssrl -->
			</if>
			<if test="ysys != null">
		          ysys = #{ysys, jdbcType=INTEGER},  <!-- ysys -->
			</if>
			<if test="yjbm != null">
		          yjbm = #{yjbm, jdbcType=VARCHAR},  <!-- yjbm -->
			</if>
			<if test="yjr != null">
		          yjr = #{yjr, jdbcType=VARCHAR},  <!-- yjr -->
			</if>
			<if test="tm != null">
		          tm = #{tm, jdbcType=VARCHAR},  <!-- tm -->
			</if>
			<if test="zrz != null">
		          zrz = #{zrz, jdbcType=VARCHAR},  <!-- zrz -->
			</if>
			<if test="xcsj != null">
		          xcsj = #{xcsj, jdbcType=VARCHAR},  <!-- xcsj -->
			</if>
			<if test="ztlx != null">
		          ztlx = #{ztlx, jdbcType=VARCHAR},  <!-- ztlx -->
			</if>
			<if test="ys != null">
		          ys = #{ys, jdbcType=VARCHAR},  <!-- ys -->
			</if>
			<if test="sc != null">
		          sc = #{sc, jdbcType=VARCHAR},  <!-- sc -->
			</if>
			<if test="sfzj != null">
		          sfzj = #{sfzj, jdbcType=VARCHAR},  <!-- sfzj -->
			</if>
			<if test="jsr != null">
		          jsr = #{jsr, jdbcType=VARCHAR},  <!-- jsr -->
			</if>
			<if test="bz != null">
		          bz = #{bz, jdbcType=VARCHAR},  <!-- bz -->
			</if>
			<if test="xq != null">
		          xq = #{xq, jdbcType=VARCHAR},  <!-- xq -->
			</if>
			<if test="zhjsj != null">
		          zhjsj = #{zhjsj, jdbcType=VARCHAR},  <!-- zhjsj -->
			</if>
			<if test="zhjbm != null">
		          zhjbm = #{zhjbm, jdbcType=VARCHAR},  <!-- zhjbm -->
			</if>
			<if test="zhjr != null">
		          zhjr = #{zhjr, jdbcType=VARCHAR},  <!-- zhjr -->
			</if>
			<if test="_lrr != null">
		          _lrr = #{_lrr, jdbcType=VARCHAR},  <!-- _lrr -->
			</if>
			<if test="_lrrq != null">
		          _lrrq = #{_lrrq, jdbcType=VARCHAR},  <!-- _lrrq -->
			</if>
			<if test="_classtree != null">
		          _classtree = #{_classtree, jdbcType=VARCHAR},  <!-- _classtree -->
			</if>
			<if test="_jy != null">
		          _jy = #{_jy, jdbcType=VARCHAR},  <!-- _jy -->
			</if>
			<if test="_jd != null">
		          _jd = #{_jd, jdbcType=VARCHAR},  <!-- _jd -->
			</if>
			<if test="_path != null">
		          _path = #{_path, jdbcType=INTEGER},  <!-- _path -->
			</if>
			<if test="jsbh != null">
		          jsbh = #{jsbh, jdbcType=VARCHAR},  <!-- jsbh -->
			</if>
			<if test="jssj != null">
		          jssj = #{jssj, jdbcType=VARCHAR},  <!-- jssj -->
			</if>
			<if test="jsbm != null">
		          jsbm = #{jsbm, jdbcType=VARCHAR},  <!-- jsbm -->
			</if>
			<if test="flag != null">
		          flag = #{flag, jdbcType=VARCHAR},  <!-- flag -->
			</if>
			<if test="cz_bh != null">
		          cz_bh = #{cz_bh, jdbcType=VARCHAR},  <!-- cz_bh -->
			</if>
			<if test="nd != null">
		          nd = #{nd, jdbcType=VARCHAR},  <!-- nd -->
			</if>
			<if test="cjr != null">
		          cjr = #{cjr, jdbcType=VARCHAR},  <!-- cjr -->
			</if>
			<if test="jszt != null">
		          jszt = #{jszt, jdbcType=VARCHAR},  <!-- jszt -->
			</if>
			<if test="flag_submit != null">
		          flag_submit = #{flag_submit, jdbcType=VARCHAR},  <!-- flag_submit -->
			</if>
			<if test="flag_examine != null">
		          flag_examine = #{flag_examine, jdbcType=VARCHAR},  <!-- flag_examine -->
			</if>
			<if test="shperson != null">
		          shperson = #{shperson, jdbcType=VARCHAR},  <!-- shperson -->
			</if>
			<if test="shsj != null">
		          shsj = #{shsj, jdbcType=VARCHAR},  <!-- shsj -->
			</if>
			<if test="shyj != null">
		          shyj = #{shyj, jdbcType=VARCHAR},  <!-- shyj -->
			</if>
			<if test="lx != null">
		          lx = #{lx, jdbcType=VARCHAR},  <!-- lx -->
			</if>
		</set>
		WHERE  id_ = #{id_}
	</update>
	
	<!-- 根据主键删除数据持久化对象 -->
	<delete id="deleteByKey">
		DELETE FROM zyjs_n WHERE  id_ = #{id_}
	</delete>

	<!-- 根据主键查询并返回数据持久化对象 -->
	<select id="selectByKey" resultType="Zyjs_nPO">
		SELECT
		<include refid="column" />
		FROM zyjs_n WHERE  id_ = #{id_}
	</select>

	<!-- 根据唯一组合条件查询并返回数据持久化对象 -->
	<select id="selectOne" parameterType="Dto" resultType="Zyjs_nPO">
		SELECT
		    <include refid="column" />
		FROM zyjs_n
		<where>
		    <include refid="equal" />
		</where>		
	</select>

	<!-- 根据Dto查询并返回数据持久化对象集合 -->
	<select id="list" parameterType="Dto" resultType="Zyjs_nPO">
		SELECT
			<include refid="column" />	
		FROM zyjs_n
		<where>
		    <include refid="equal" />
		</where>	
	</select>

	<!-- 根据Dto查询并返回分页数据持久化对象集合 -->
	<select id="listPage" parameterType="Dto" resultType="Zyjs_nPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM zyjs_n
		<where>
		    <include refid="equal" />
		</where>	
	</select>
	
	<!-- 根据Dto模糊查询并返回数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="like" parameterType="Dto" resultType="Zyjs_nPO">
		SELECT
			<include refid="column" />	
		FROM zyjs_n
		<where>
		    <include refid="like" />
		</where>	
	</select>

	<!-- 根据Dto模糊查询并返回分页数据持久化对象集合(字符型字段模糊匹配，其余字段精确匹配) -->
	<select id="likePage" parameterType="Dto" resultType="Zyjs_nPO" useCache="false">
	    SELECT
			<include refid="column" />	
		FROM zyjs_n
		<where>
		    <include refid="like" />
		</where>	
	</select>
	
	<!-- 根据Dto统计行数 -->
	<select id="rows" resultType="Integer" parameterType="Dto">
		SELECT COUNT(1) AS aos_rows_ FROM zyjs_n
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 根据数学表达式进行数学运算 -->
	<select id="calc" parameterType="Dto" resultType="String">
		SELECT
			${_expr}
		FROM zyjs_n
		<where>
		    <include refid="equal" />
		</where>
	</select>
	
	<!-- 表字段 -->
	<sql id="column">
		  id_,  <!-- id_ -->
		  _mj,  <!-- _mj -->
		  hjsj,  <!-- hjsj -->
		  hjr,  <!-- hjr -->
		  kfbs,  <!-- kfbs -->
		  jybs,  <!-- jybs -->
		  _kaifang,  <!-- _kaifang -->
		  _xh,  <!-- _xh -->
		  _daoqi,  <!-- _daoqi -->
		  _bgqx,  <!-- _bgqx -->
		  ssrl,  <!-- ssrl -->
		  ysys,  <!-- ysys -->
		  yjbm,  <!-- yjbm -->
		  yjr,  <!-- yjr -->
		  tm,  <!-- tm -->
		  zrz,  <!-- zrz -->
		  xcsj,  <!-- xcsj -->
		  ztlx,  <!-- ztlx -->
		  ys,  <!-- ys -->
		  sc,  <!-- sc -->
		  sfzj,  <!-- sfzj -->
		  jsr,  <!-- jsr -->
		  bz,  <!-- bz -->
		  xq,  <!-- xq -->
		  zhjsj,  <!-- zhjsj -->
		  zhjbm,  <!-- zhjbm -->
		  zhjr,  <!-- zhjr -->
		  _lrr,  <!-- _lrr -->
		  _lrrq,  <!-- _lrrq -->
		  _classtree,  <!-- _classtree -->
		  _jy,  <!-- _jy -->
		  _jd,  <!-- _jd -->
		  _path,  <!-- _path -->
		  jsbh,  <!-- jsbh -->
		  jssj,  <!-- jssj -->
		  jsbm,  <!-- jsbm -->
		  flag,  <!-- flag -->
		  cz_bh,  <!-- cz_bh -->
		  nd,  <!-- nd -->
		  cjr,  <!-- cjr -->
		  jszt,  <!-- jszt -->
		  flag_submit,  <!-- flag_submit -->
		  flag_examine,  <!-- flag_examine -->
		  shperson,  <!-- shperson -->
		  shsj,  <!-- shsj -->
		  shyj,  <!-- shyj -->
		  lx  <!-- lx -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  zyjs_n.id_,  <!-- id_ -->
		  zyjs_n._mj,  <!-- _mj -->
		  zyjs_n.hjsj,  <!-- hjsj -->
		  zyjs_n.hjr,  <!-- hjr -->
		  zyjs_n.kfbs,  <!-- kfbs -->
		  zyjs_n.jybs,  <!-- jybs -->
		  zyjs_n._kaifang,  <!-- _kaifang -->
		  zyjs_n._xh,  <!-- _xh -->
		  zyjs_n._daoqi,  <!-- _daoqi -->
		  zyjs_n._bgqx,  <!-- _bgqx -->
		  zyjs_n.ssrl,  <!-- ssrl -->
		  zyjs_n.ysys,  <!-- ysys -->
		  zyjs_n.yjbm,  <!-- yjbm -->
		  zyjs_n.yjr,  <!-- yjr -->
		  zyjs_n.tm,  <!-- tm -->
		  zyjs_n.zrz,  <!-- zrz -->
		  zyjs_n.xcsj,  <!-- xcsj -->
		  zyjs_n.ztlx,  <!-- ztlx -->
		  zyjs_n.ys,  <!-- ys -->
		  zyjs_n.sc,  <!-- sc -->
		  zyjs_n.sfzj,  <!-- sfzj -->
		  zyjs_n.jsr,  <!-- jsr -->
		  zyjs_n.bz,  <!-- bz -->
		  zyjs_n.xq,  <!-- xq -->
		  zyjs_n.zhjsj,  <!-- zhjsj -->
		  zyjs_n.zhjbm,  <!-- zhjbm -->
		  zyjs_n.zhjr,  <!-- zhjr -->
		  zyjs_n._lrr,  <!-- _lrr -->
		  zyjs_n._lrrq,  <!-- _lrrq -->
		  zyjs_n._classtree,  <!-- _classtree -->
		  zyjs_n._jy,  <!-- _jy -->
		  zyjs_n._jd,  <!-- _jd -->
		  zyjs_n._path,  <!-- _path -->
		  zyjs_n.jsbh,  <!-- jsbh -->
		  zyjs_n.jssj,  <!-- jssj -->
		  zyjs_n.jsbm,  <!-- jsbm -->
		  zyjs_n.flag,  <!-- flag -->
		  zyjs_n.cz_bh,  <!-- cz_bh -->
		  zyjs_n.nd,  <!-- nd -->
		  zyjs_n.cjr,  <!-- cjr -->
		  zyjs_n.jszt,  <!-- jszt -->
		  zyjs_n.flag_submit,  <!-- flag_submit -->
		  zyjs_n.flag_examine,  <!-- flag_examine -->
		  zyjs_n.shperson,  <!-- shperson -->
		  zyjs_n.shsj,  <!-- shsj -->
		  zyjs_n.shyj,  <!-- shyj -->
		  zyjs_n.lx  <!-- lx -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	    <if test="id_ != null and id_ != ''">
		      AND id_ = #{id_}  <!-- id_ -->
		</if>
	    <if test="_mj != null and _mj != ''">
		      AND _mj = #{_mj}  <!-- _mj -->
		</if>
	    <if test="hjsj != null and hjsj != ''">
		      AND hjsj = #{hjsj}  <!-- hjsj -->
		</if>
	    <if test="hjr != null and hjr != ''">
		      AND hjr = #{hjr}  <!-- hjr -->
		</if>
	    <if test="kfbs != null and kfbs != ''">
		      AND kfbs = #{kfbs}  <!-- kfbs -->
		</if>
	    <if test="jybs != null and jybs != ''">
		      AND jybs = #{jybs}  <!-- jybs -->
		</if>
	    <if test="_kaifang != null and _kaifang != ''">
		      AND _kaifang = #{_kaifang}  <!-- _kaifang -->
		</if>
	    <if test="_xh != null and _xh != ''">
		      AND _xh = #{_xh}  <!-- _xh -->
		</if>
	    <if test="_daoqi != null and _daoqi != ''">
		      AND _daoqi = #{_daoqi}  <!-- _daoqi -->
		</if>
	    <if test="_bgqx != null and _bgqx != ''">
		      AND _bgqx = #{_bgqx}  <!-- _bgqx -->
		</if>
	   <if test="ssrl != null ">
		      AND ssrl = #{ssrl}  <!-- ssrl -->
		</if>
	   <if test="ysys != null ">
		      AND ysys = #{ysys}  <!-- ysys -->
		</if>
	    <if test="yjbm != null and yjbm != ''">
		      AND yjbm = #{yjbm}  <!-- yjbm -->
		</if>
	    <if test="yjr != null and yjr != ''">
		      AND yjr = #{yjr}  <!-- yjr -->
		</if>
	    <if test="tm != null and tm != ''">
		      AND tm = #{tm}  <!-- tm -->
		</if>
	    <if test="zrz != null and zrz != ''">
		      AND zrz = #{zrz}  <!-- zrz -->
		</if>
	    <if test="xcsj != null and xcsj != ''">
		      AND xcsj = #{xcsj}  <!-- xcsj -->
		</if>
	    <if test="ztlx != null and ztlx != ''">
		      AND ztlx = #{ztlx}  <!-- ztlx -->
		</if>
	    <if test="ys != null and ys != ''">
		      AND ys = #{ys}  <!-- ys -->
		</if>
	    <if test="sc != null and sc != ''">
		      AND sc = #{sc}  <!-- sc -->
		</if>
	    <if test="sfzj != null and sfzj != ''">
		      AND sfzj = #{sfzj}  <!-- sfzj -->
		</if>
	    <if test="jsr != null and jsr != ''">
		      AND jsr = #{jsr}  <!-- jsr -->
		</if>
	    <if test="bz != null and bz != ''">
		      AND bz = #{bz}  <!-- bz -->
		</if>
	    <if test="xq != null and xq != ''">
		      AND xq = #{xq}  <!-- xq -->
		</if>
	    <if test="zhjsj != null and zhjsj != ''">
		      AND zhjsj = #{zhjsj}  <!-- zhjsj -->
		</if>
	    <if test="zhjbm != null and zhjbm != ''">
		      AND zhjbm = #{zhjbm}  <!-- zhjbm -->
		</if>
	    <if test="zhjr != null and zhjr != ''">
		      AND zhjr = #{zhjr}  <!-- zhjr -->
		</if>
	    <if test="_lrr != null and _lrr != ''">
		      AND _lrr = #{_lrr}  <!-- _lrr -->
		</if>
	    <if test="_lrrq != null and _lrrq != ''">
		      AND _lrrq = #{_lrrq}  <!-- _lrrq -->
		</if>
	    <if test="_classtree != null and _classtree != ''">
		      AND _classtree = #{_classtree}  <!-- _classtree -->
		</if>
	    <if test="_jy != null and _jy != ''">
		      AND _jy = #{_jy}  <!-- _jy -->
		</if>
	    <if test="_jd != null and _jd != ''">
		      AND _jd = #{_jd}  <!-- _jd -->
		</if>
	   <if test="_path != null ">
		      AND _path = #{_path}  <!-- _path -->
		</if>
	    <if test="jsbh != null and jsbh != ''">
		      AND jsbh = #{jsbh}  <!-- jsbh -->
		</if>
	    <if test="jssj != null and jssj != ''">
		      AND jssj = #{jssj}  <!-- jssj -->
		</if>
	    <if test="jsbm != null and jsbm != ''">
		      AND jsbm = #{jsbm}  <!-- jsbm -->
		</if>
	    <if test="flag != null and flag != ''">
		      AND flag = #{flag}  <!-- flag -->
		</if>
	    <if test="cz_bh != null and cz_bh != ''">
		      AND cz_bh = #{cz_bh}  <!-- cz_bh -->
		</if>
	    <if test="nd != null and nd != ''">
		      AND nd = #{nd}  <!-- nd -->
		</if>
	    <if test="cjr != null and cjr != ''">
		      AND cjr = #{cjr}  <!-- cjr -->
		</if>
	    <if test="jszt != null and jszt != ''">
		      AND jszt = #{jszt}  <!-- jszt -->
		</if>
	    <if test="flag_submit != null and flag_submit != ''">
		      AND flag_submit = #{flag_submit}  <!-- flag_submit -->
		</if>
	    <if test="flag_examine != null and flag_examine != ''">
		      AND flag_examine = #{flag_examine}  <!-- flag_examine -->
		</if>
	    <if test="shperson != null and shperson != ''">
		      AND shperson = #{shperson}  <!-- shperson -->
		</if>
	    <if test="shsj != null and shsj != ''">
		      AND shsj = #{shsj}  <!-- shsj -->
		</if>
	    <if test="shyj != null and shyj != ''">
		      AND shyj = #{shyj}  <!-- shyj -->
		</if>
	    <if test="lx != null and lx != ''">
		      AND lx = #{lx}  <!-- lx -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="id_ != null and id_ != ''">
		      AND id_ like '%${id_}%'  <!-- id_ -->
		</if>
	    <if test="_mj != null and _mj != ''">
		      AND _mj like '%${_mj}%'  <!-- _mj -->
		</if>
	    <if test="hjsj != null and hjsj != ''">
		      AND hjsj like '%${hjsj}%'  <!-- hjsj -->
		</if>
	    <if test="hjr != null and hjr != ''">
		      AND hjr like '%${hjr}%'  <!-- hjr -->
		</if>
	    <if test="kfbs != null and kfbs != ''">
		      AND kfbs like '%${kfbs}%'  <!-- kfbs -->
		</if>
	    <if test="jybs != null and jybs != ''">
		      AND jybs like '%${jybs}%'  <!-- jybs -->
		</if>
	    <if test="_kaifang != null and _kaifang != ''">
		      AND _kaifang like '%${_kaifang}%'  <!-- _kaifang -->
		</if>
	    <if test="_xh != null and _xh != ''">
		      AND _xh like '%${_xh}%'  <!-- _xh -->
		</if>
	    <if test="_daoqi != null and _daoqi != ''">
		      AND _daoqi like '%${_daoqi}%'  <!-- _daoqi -->
		</if>
	    <if test="_bgqx != null and _bgqx != ''">
		      AND _bgqx like '%${_bgqx}%'  <!-- _bgqx -->
		</if>
	    <if test="yjbm != null and yjbm != ''">
		      AND yjbm like '%${yjbm}%'  <!-- yjbm -->
		</if>
	    <if test="yjr != null and yjr != ''">
		      AND yjr like '%${yjr}%'  <!-- yjr -->
		</if>
	    <if test="tm != null and tm != ''">
		      AND tm like '%${tm}%'  <!-- tm -->
		</if>
	    <if test="zrz != null and zrz != ''">
		      AND zrz like '%${zrz}%'  <!-- zrz -->
		</if>
	    <if test="xcsj != null and xcsj != ''">
		      AND xcsj like '%${xcsj}%'  <!-- xcsj -->
		</if>
	    <if test="ztlx != null and ztlx != ''">
		      AND ztlx like '%${ztlx}%'  <!-- ztlx -->
		</if>
	    <if test="ys != null and ys != ''">
		      AND ys like '%${ys}%'  <!-- ys -->
		</if>
	    <if test="sc != null and sc != ''">
		      AND sc like '%${sc}%'  <!-- sc -->
		</if>
	    <if test="sfzj != null and sfzj != ''">
		      AND sfzj like '%${sfzj}%'  <!-- sfzj -->
		</if>
	    <if test="jsr != null and jsr != ''">
		      AND jsr like '%${jsr}%'  <!-- jsr -->
		</if>
	    <if test="bz != null and bz != ''">
		      AND bz like '%${bz}%'  <!-- bz -->
		</if>
	    <if test="xq != null and xq != ''">
		      AND xq like '%${xq}%'  <!-- xq -->
		</if>
	    <if test="zhjsj != null and zhjsj != ''">
		      AND zhjsj like '%${zhjsj}%'  <!-- zhjsj -->
		</if>
	    <if test="zhjbm != null and zhjbm != ''">
		      AND zhjbm like '%${zhjbm}%'  <!-- zhjbm -->
		</if>
	    <if test="zhjr != null and zhjr != ''">
		      AND zhjr like '%${zhjr}%'  <!-- zhjr -->
		</if>
	    <if test="_lrr != null and _lrr != ''">
		      AND _lrr like '%${_lrr}%'  <!-- _lrr -->
		</if>
	    <if test="_lrrq != null and _lrrq != ''">
		      AND _lrrq like '%${_lrrq}%'  <!-- _lrrq -->
		</if>
	    <if test="_classtree != null and _classtree != ''">
		      AND _classtree like '%${_classtree}%'  <!-- _classtree -->
		</if>
	    <if test="_jy != null and _jy != ''">
		      AND _jy like '%${_jy}%'  <!-- _jy -->
		</if>
	    <if test="_jd != null and _jd != ''">
		      AND _jd like '%${_jd}%'  <!-- _jd -->
		</if>
	    <if test="jsbh != null and jsbh != ''">
		      AND jsbh like '%${jsbh}%'  <!-- jsbh -->
		</if>
	    <if test="jssj != null and jssj != ''">
		      AND jssj like '%${jssj}%'  <!-- jssj -->
		</if>
	    <if test="jsbm != null and jsbm != ''">
		      AND jsbm like '%${jsbm}%'  <!-- jsbm -->
		</if>
	    <if test="flag != null and flag != ''">
		      AND flag like '%${flag}%'  <!-- flag -->
		</if>
	    <if test="cz_bh != null and cz_bh != ''">
		      AND cz_bh like '%${cz_bh}%'  <!-- cz_bh -->
		</if>
	    <if test="nd != null and nd != ''">
		      AND nd like '%${nd}%'  <!-- nd -->
		</if>
	    <if test="cjr != null and cjr != ''">
		      AND cjr like '%${cjr}%'  <!-- cjr -->
		</if>
	    <if test="jszt != null and jszt != ''">
		      AND jszt like '%${jszt}%'  <!-- jszt -->
		</if>
	    <if test="flag_submit != null and flag_submit != ''">
		      AND flag_submit like '%${flag_submit}%'  <!-- flag_submit -->
		</if>
	    <if test="flag_examine != null and flag_examine != ''">
		      AND flag_examine like '%${flag_examine}%'  <!-- flag_examine -->
		</if>
	    <if test="shperson != null and shperson != ''">
		      AND shperson like '%${shperson}%'  <!-- shperson -->
		</if>
	    <if test="shsj != null and shsj != ''">
		      AND shsj like '%${shsj}%'  <!-- shsj -->
		</if>
	    <if test="shyj != null and shyj != ''">
		      AND shyj like '%${shyj}%'  <!-- shyj -->
		</if>
	    <if test="lx != null and lx != ''">
		      AND lx like '%${lx}%'  <!-- lx -->
		</if>
	</sql>
	
</mapper>